# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties
*.iml

# Android Studio
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# OS-specific
.DS_Store

# Android specific
captures/
.externalNativeBuild/
.cxx/

# Kotlin
*.kotlin_module

# Signing keys (only if you use them)
*.jks
keystore.properties

# Misc
*.log
